  body {
    text-align: center;
    background-color: #9b90f8;
    font-family: 'Balsamiq Sans', cursive;
    padding: 0 20px;
  }
  
  header {
    font-size: 50px;
    color: blue;
    margin-bottom: 50px;
  }

  .products {
    height: 32px;
    display: flex;
    margin: 15px auto;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 30px;
  }

  ::placeholder { 
    color: deeppink;
    opacity: 0.5;
   }

  .products__text, .productsCost__text {
    padding: 6px 10px 6px 10px;
    font-family: inherit;
    font-size: 14px;
    border: 1px solid #dd75dd;
    border-radius: 4px;
    outline: none;
    margin-right: 20px;
    color: blue;
  }

  .products__text {
    width: calc((100vw - 32px - 20px * 2) * 0.75);
  }

  .productsCost__text {
    width: calc((100vw - 32px - 20px * 2) * 0.25);
  }
  
  .products__text:focus, .productsCost__text:focus {
    border-color: #f122b3;
  }
  
  .products__add {
    width: 32px;
    height: 32px;
    background-color: #dd75dd;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .products__add:hover {
    background-color: #f122b3;
  }
  
  .products__add i {
    color: blue;
    font-size: 30px;
  }
  
  .products__items {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    list-style-type: none;
    font-size: 20px;
  }
  
  .products__item {
    position: relative;
    padding: 10px 15px;
    overflow: hidden;
    background-color: #f8d7f3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    color: darkviolet;
  }

  .products__item:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  
  .products__date {
    display: flex;
    flex-direction: column;
    color: #8a7ef7;
    font-size: 0.75em;
  }
  
  .products__actions {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #80deea;
    border-radius: 4px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    transition: top 0.3s ease-in;
    display: flex;
    justify-content: center;
  }
  
  .products__action_delete {
    top: -20px;
    right: 50px;
    background-color: #f192e5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .products__action_delete i {
    color:darkred;
    padding: 0px;
  }

  .products__action_complete {
    top: -20px;
    right: 15px;
    background-color: #84df88;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products__action_complete i {
    color: rgb(10, 207, 69);
  }

  .products__action_restore {
    top: -20px;
    right: 15px;
    background-color: #9eacfc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products__action_restore i {
    color: rgb(20, 16, 224);
  }
  
  .products__item:hover .products__actions {
    top: 50%;
  }
  
  .products__item:hover .products__actions:hover {
    opacity: 1;
  }
  
  [data-products-state="active"] .products__action_restore {
    display: none;
  }

  [data-products-state="completed"] .products__action_complete {
    display: none;
  }

  [data-products-state="deleted"] .products__action_complete {
    display: none;
  }

  [data-products-state="completed"] .products__task, [data-products-state="completed"] .products__cost {
    text-decoration: line-through;
  }
  
  [data-products-state="deleted"] .products__task, [data-products-state="deleted"] .products__cost,  [data-products-state="deleted"] .products__date {
    opacity: 0.2;
  }
  
  [state="deleted"] .products__action_restore {
    right: 15px;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.totalCost {
    font-size: 30px;
    color: blue;
}

.error {
  width : 100%;
  padding: 0;
  font-size: 80%;
  color: rgb(4, 34, 165);
  background-color: rgb(241, 72, 199);
  border-radius: 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

@media (max-width: 1024px) {
  header {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .products {
     margin-bottom: 10px;
  }
  
  .totalCost {
    font-size: 20px;
  }

  .products__items {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}